<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>518263232234-pcb8ocobu6u0ammq2lsste2kmmul8av1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.518263232234-pcb8ocobu6u0ammq2lsste2kmmul8av1</string>
	<key>API_KEY</key>
	<string>AIzaSyCLQRy4nqttD4mYChRT1KDLhPKBCT1q8aU</string>
	<key>GCM_SENDER_ID</key>
	<string>518263232234</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mila.Catstagram-starter</string>
	<key>PROJECT_ID</key>
	<string>catstagram-starter</string>
	<key>STORAGE_BUCKET</key>
	<string>catstagram-starter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:518263232234:ios:f8634fc2bed58fd01e2993</string>
	<key>DATABASE_URL</key>
	<string>https://catstagram-starter.firebaseio.com</string>
</dict>
</plist>
